thead{text-align: left;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;}
tbody{text-align: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif}
tfoot{text-align: left;font-size: 20px;font-family: 'Times New Roman', Times, serif;}
summary{margin: auto;width: 300px;border-radius: 10px 10px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;}